In [3]:
import numpy as np
import pandas as pd

#Create series from a list
j = pd.Series([2,4,6,7], index=['a', 'b', 'c', 'd'])
print(j)

i = pd.Series([2,4,6,7])
print(i)

a    2
b    4
c    6
d    7
dtype: int64
0    2
1    4
2    6
3    7
dtype: int64

In [4]:
#Create series from np ndarray
p = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(p)
print(p.index)

a    0.348450
b    0.709948
c   -0.005418
d   -1.191649
e   -0.237900
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [5]:
#Create series from a dictionary
data = {'one': 2, 'two': 5, 'three': 8} 
d = pd.Series(data)
print(d)

one      2
two      5
three    8
dtype: int64

In [6]:
#Create DataFrame from a dictionary of series
data = {'one': pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd']), 'two': pd.Series([3,5,3,4], index=['a', 'b', 'c', 'd']), 'three': pd.Series([6,12,5,47, 43], index=['a', 'b', 'c', 'd', 'e'])} 
d = pd.DataFrame(data)
print(d)

   one  two  three
a  1.0  3.0      6
b  2.0  5.0     12
c  3.0  3.0      5
d  4.0  4.0     47
e  NaN  NaN     43

In [7]:
df = pd.DataFrame(d,columns=['two', 'three'])
print(df)

   two  three
a  3.0      6
b  5.0     12
c  3.0      5
d  4.0     47
e  NaN     43

In [9]:
print(df.describe())

            two      three
count  4.000000   5.000000
mean   3.750000  22.600000
std    0.957427  20.671236
min    3.000000   5.000000
25%    3.000000   6.000000
50%    3.500000  12.000000
75%    4.250000  43.000000
max    5.000000  47.000000

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   two     4 non-null      float64
 1   three   5 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 120.0+ bytes
None

In [12]:
print(df.isna())
print(df.isna().any())

     two  three
a  False  False
b  False  False
c  False  False
d  False  False
e   True  False
two       True
three    False
dtype: bool

In [13]:
print(df['two'])

a    3.0
b    5.0
c    3.0
d    4.0
e    NaN
Name: two, dtype: float64

In [14]:
df['four']  = df['two'] *df['three']
print(df)

   two  three   four
a  3.0      6   18.0
b  5.0     12   60.0
c  3.0      5   15.0
d  4.0     47  188.0
e  NaN     43    NaN

In [15]:
df['five']  = None
print(df)

   two  three   four  five
a  3.0      6   18.0  None
b  5.0     12   60.0  None
c  3.0      5   15.0  None
d  4.0     47  188.0  None
e  NaN     43    NaN  None

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, a to e
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   two     4 non-null      float64
 1   three   5 non-null      int64
 2   four    4 non-null      float64
 3   five    0 non-null      object
dtypes: float64(2), int64(1), object(1)
memory usage: 200.0+ bytes
None

In [17]:
print(df['two'].unique())

[ 3.  5.  4. nan]

In [18]:
print(df['five'].unique())

[None]

In [19]:
jiji_adds = pd.read_csv('jiji_trending_adds.csv')
print(jiji_adds.head())

   Unnamed: 0                            title         price  imageCount  \
0           0            Toyota Camry 2010 Red   ₦ 1,500,000           7
1           1           Lexus RX 350 2018 Blue  ₦ 20,500,000           7
2           2   Lexus GX 460 Luxury 2016 Black  ₦ 27,000,000          16
3           3    Acura ZDX Base AWD 2011 Black   ₦ 4,500,000          11
4           4  Mercedes-Benz GLA 250 2019 Gray  ₦ 18,700,000          11

                                                link
0  https://jiji.ng/kubwa/cars/toyota-camry-2010-r...
1  https://jiji.ng/ajah/cars/lexus-rx-350-2018-bl...
2  https://jiji.ng/ojodu/cars/lexus-gx-460-luxury...
3  https://jiji.ng/lugbe/cars/acura-zdx-base-awd-...
4  https://jiji.ng/magodo/cars/mercedes-benz-gla-...

In [25]:
print(jiji_adds.describe())

       Unnamed: 0  imageCount
count   60.000000   60.000000
mean    29.500000    7.266667
std     17.464249    4.368092
min      0.000000    1.000000
25%     14.750000    4.750000
50%     29.500000    6.000000
75%     44.250000   11.000000
max     59.000000   20.000000